html {
  background-image: url('/assets/images/granite\ counter\ top.jpg'); 
  background-size: stretch; 
  background-position: cover; 
  background-repeat: repeat; 
}
/* selecting two css to have same style */
.hero,
.header-img-nutrient {
  max-height: 150px;
}

/*style given to not to stretch the image */
.header-img-nutrient {
  object-fit: cover;
}

/* to make the h1 in the middle of the header image */
.hero-body {
  position: relative;
  bottom: 150px;
}

/* set the h1 width according to the content width */
.title-h1-header {
  display: inline;
}

/* Default styles for larger screens */
#ingredientButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.b-0 {
  border: none;
}
#searchBtn {
  background-color: white;
}

.white-button {
  background-color: whitesmoke !important;
}

.white-button:hover {
  background-color: gold !important;
}

.white-button:active{
  background-color: aquamarine !important;
}

.saved-ingredient-btn-wrapper {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 0.5em;
}
.saved-ingredient-btn-wrapper .button {
  text-wrap: wrap;
  line-height: 1em;
}

.recipe {
  height: 100%;
  padding-bottom: 80px;
}

.btn-recipe-view {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);  
}

/* Override Bulma column display and width */
#recipe-cards .columns.is-mobile {
  display: block;
}
#recipe-cards .column.is-half-mobile {
  width: 100%;
}

@media (min-width: 400px) {
  /* Use Bulma column display and width */
  #recipe-cards .columns.is-mobile {
    display: flex;
  }
  #recipe-cards .column.is-half-mobile {
    width: 50%;
  }
}

@media (min-width: 768px) {
  #ingredientButtons .button {
    flex: 1 0 100%;
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
}
/* edit this code block out and list items will appear inline and stretch the container */
@media (max-width: 768px) {
  #ingredientButtons .button {
    flex: 1 0 calc(100% - 10px);
    max-width: calc(100% - 10px);
  }
}

@media screen and (min-width: 1024px) {
  /* Use Bulma column width */
  #recipe-cards .column.is-one-third-desktop {
    width: 33.3333%;
  }
}

@media screen and (min-width: 1216px) {
  /* Use Bulma column width */
  #recipe-cards .column.is-one-quarter-widescreen {
    width: 25%;
  }
}
